<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">

      <div class="login_container">
        <section class="intro_login">
          <h2>Crear nuevo producto</h2>
          <br />
        </section>
        <!-- SIGN IN -->
        <section class="sign_in_form">
          <form action="/products" method="POST">

            <div class="input_containers">
              <label for="model">Modelo</label>
              <input class="login_input" type="text" name="model" id="model" />
            </div>

            <div class="input_containers">
              <p>Categoría</p>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="type" id="guitarra" />
                  <label for="guitarra">Guitarra</label>
            </div>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="type" id="piano" />
                <label for="piano">Piano</label>
            </div>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="type" id="bajo" />
                <label for="bajo">Bajo</label>
            </div>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="type" id="violin" />
                <label for="violin">Violín</label>
            </div>

            <div class="new_product_price">
              <label for="price">Precio</label>
              <input class="price_input" type="number" name="price" id="price" />
            </div>

            <div class="input_containers">
              <label for="brand">Marca</label>
              <input class="login_input" type="text" name="brand" id="brand" />
            </div>

            <div class="input_containers">
              <label for="color">Color</label>
              <input class="login_input" type="text" name="color" id="color" />
            </div>

            <div class="input_containers">
              <label for="description">Descripción del producto</label>
              <input class="login_input" type="text" name="description" id="description" />
            </div>
            
            <br>
            
              <br>

              <div class="upload_file">
                  <input type="file" name="upload_img" id="upload_img">
                  <label for="upload_img">Upload Image (this will be a drag and drop)</label>
              </div>
              
            </div>
            <button type="submit" class="create_button">Crear</button>
          </form>
        </section>
      </div>
    </main>

    <%- include ('../partials/footer') %> 
    <%- include ('../partials/cursor') %> 
  </body>
</html>