<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASA I.M.</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
</head>
<body>
    <header>
        <h1>MASA</h1>
        <nav>
            <ul class="navbar">
                <li><a href="">Productos</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Sign in</a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="banner">
            <div class="left_banner">
                <img src="/img/guitar_maqueta.jpeg" alt="img">
            </div>
            
            <div class="right_banner">
                <h2>Algunas personas tienen vida, otras tienen la música</h2>
            </div>

        </div>
    </main>

    <footer></footer>
</body>
</html>