<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Carrito MASA I.M.</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/img/logo_masa_black.svg" alt="" />
        </a>
      </div>
      <nav>
        <ul class="navbar">
          <li><a href="/product">Productos</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/login">Sign in</a></li>
          <li>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <section>

    </section>
    <footer>

    </footer>
    <h2>Hello World!</h2>
  </body>
</html>
