<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASA I.M./ Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo"><a href="/">
            <img src="/img/logo_masa_black.svg" alt="">
        </a></div>
        <nav>
            <ul class="navbar navbar-product">
                <li><a href="/product">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="/login">Sign in</a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
            <div class="hamburger-button">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
        <section class="section1-main-product">
            <section class="container-flex1">
                <h2>Fender</h2>
                <div class="button-arrows">
                    <i class="fas fa-angle-left arrow"></i><br>
                    <i class="fas fa-angle-right arrow"></i>
                </div>
            </section>
                <p >Player Stratocaster Floyd Rose MN TPL</p>
            
            
            <img class="estilo-imagen-product" src="./img/guitarra-product.png">
        </section>
        <section class="section2-main-product">
            <p>
                <h3>Descrpcion / Opciones / videos</h3> Guitarra eléctrica Fender Player Stratocaster Floyd Rose MN TPL. El inspirador sonido de una Stratocaster es uno de los fundamentos de Fender. Con este clásico sonido "acampanado", medios fuertes y graves robustos, combinado con una articulación cristalina, la Player Stratocaster HSS Floyd Rose está repleta de la auténtica sensación y estilo Fender. Está lista para servir a tu visión musical, es lo suficientemente versátil como para manejar cualquier estilo de música y es la plataforma perfecta para crear tu propio sonido.
                <ul>
                    <li>Cuerpo de aliso con acabado "gloss"</li>
                    <li>1x Pastilla Humbucker Player Series, 2x Pastillas Player Series single-coil Stratocaster</li>
                    <li>Perfil de mástil en "Modern C"</li>
                    <li>Diapasón con radio 12"</li>
                    <li>Trastes Medium Jumbo</li>
                    <li>Puente Floyd Rose Double-Locking Tremolo System</li>
                    <li>Diapasón de arce</li>
                    <li>Acabado: Tidepool</li>
                </ul>
            </p>
            <h4 class="estilo-precio">$191.85</h4>
            <p class="estilo-comprar">comprar</p>
        </section>
</body>
</html>