/* FOOTER */
footer{
  bottom: 0;
  background-color: rgba(149,222,182);
  padding-top: 10px;
  padding-bottom: 20px;
}

.login_footer {
    display: flex;
    margin-left: 8vw;
    margin-right: 5vw;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .login_bar {
    height: 1px;
    width: 41vw;
    border: 1px solid black;
  }
  .login_social_media {
    display: flex;
    width: 41vw;
    justify-content: space-around;
    list-style: none;
  }
  
  .login_social_media i {
    color: black;
    font-size: 1.4em;
  }

  .footer_links_wrapper{
    display: flex;
    justify-content: center;
    
  }
  .footer_links{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;  
  }
  .footer_links ul{
    list-style: none;
  }