/* * * * * *  Header y Navbar * * * * * */

header {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: relative;
  }
  
  .logo {
    margin: 2% 5%;
    display: block;
    width: 42vw;
  }


  /* nav */
  nav {
    display: none;
  }

  header .header-bottom-burger-menu {
    background-color: #12261c;
    width: 120px;
    display: flex;
    z-index: 2;
  }

  .nav_wrapper{
    display: none;
  }

  .diagonal{
    display: none;
  }

  .active{
    display: flex;
  }

  .mobile{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
    background-color: #12261c;
    text-align: center;
    font-size: 2em;
    z-index: 0;
  }

  .mobile a {
    color: white;
    text-decoration: none;
    font-size: 0.7em;
}
.mobile a:hover {
  color: rgb(80, 252, 200);
  text-decoration: none;
  font-size: 0.7em;
}

  .user_info_header{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .user_info_header li{
    font-size: 0.7em;
    width: 100px;
  }
  
  .burger {
    text-align: center;
    margin: auto 50%;
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    z-index: 2;
  }
  
  