@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* GLOBAL */
*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family: roboto;
    background-color: #7fffd4;
}

/* Header y Navbar */

header{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid black;
}

.logo {
    margin: auto;
    display: block;
}

nav{
    display: flex;
    justify-content: center;
    width: 33vw;
    /*background-color: #006D77;*/
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    display: none;
}


.navbar a{
    text-decoration: none;
    color: aliceblue;
}
/*.navbar a:hover{
    color: rgb(159, 206, 247);
}*/

.hamburger-buttom {
    text-align: center;
    margin: auto 50%;
}


/* BANNER */

.banner{
    display: flex;
    justify-content: space-evenly;
}

.left_banner{
    width: 40%;
}

.left_banner img{
    width: 100%;
    height: auto;
}

.right_banner{
    width: 40%;
    display: flex;
    align-items: center;
}

/*MAIN PRODUCT*/
.section1-main-product {
    width: 90%;
    margin: 5%;
    background-color: white;
    color: #143018;
}

.estilo-imagen-product{
    width: 100%;
}

.container-flex1 {
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.button-arrows {
    background-color: #143018;
    padding: 0 10px;
    height: 55px;
    color: white;
}

.section2-main-product{
    width: 90%;
    margin: 5%;
}

.arrow {
    padding: 5px 0;
}

.estilo-precio {
    color: #143018;
    display: inline;
}

.estilo-comprar {
    color: #143018;
    font-weight: bold;
    display: inline;
    border: 0 solid gray;
    border-radius: 15px;
    padding: 5px;
    margin: 0 30px;
    background-color: white;
}