@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Importando archivos CSS modularizados */
@import "header_navbar.css";
@import "mainProduct.css";
@import "create.css";
@import "login.css";

/* Variables */
:root {
  --input_box_height: 2.5rem;
}

/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: roboto;
  /* cursor: none; */
  background-image: url(/img/bck_page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}
.home-body {
  font-family: roboto;
  width: 100%;
  height: 100vh;
  background-color: #ffffff !important;
  background-image: none;
  overflow-x: inherit;
}
/* BANNER */

.banner {
  display: flex;
}

/* CURSOR */
.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 99999999999;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid red;
}



/* LOGIN FOOTER */
.login_footer {
  display: flex;
  margin-left: 8vw;
  margin-right: 5vw;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.login_bar {
  height: 1px;
  width: 41vw;
  border: 1px solid black;
}
.login_social_media {
  display: flex;
  width: 41vw;
  justify-content: space-around;
  list-style: none;
}

.login_social_media i {
  color: black;
  font-size: 1.4em;
}

/* * * * * * * *  F I N     D E     L O G I N * * * * * * */



/*BREAKPOINTS*/
@media (min-width: 460px) {
  /* Tablets */
  .navbar-product {
    display: flex;
  }

  .magen-precio-comprar {
    margin-top: 40px;
  }
}
@media (max-width: 680px) {
  .sign_in_form {
    transform: scale(0.9);
    width: 350px;
  }
}
@media (min-width: 768px) {
  header .header-bottom-burger-menu {
    display: none;
  }
  /* Laptop */
  .magen-precio-comprar {
    margin-top: 50px;
  }
  /* nav bar*/
  nav {
    display: flex;
    justify-content: center;
    background-color: #12261c;
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  .navbar a {
    text-decoration: none;
    color: aliceblue;
  }
  .navbar a:hover,
  .navbar a:focus,
  .navbar a:active {
    text-decoration: none;
    color: #95deb6;
  }
  .navbar li {
    padding: 0 20px;
  }
  /* NAV BAR EN PRODUCT*/
  .navbar-product {
    display: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  .navbar-product a {
    text-decoration: none;
    color: aliceblue;
  }
  
  /* main */
  main .banner .left_banner h2 {
    position: absolute;
    top: 25%;
    width: 25%;
    left: 55%;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
  }
  main .banner .left_banner h2 span {
    color: #95deb6;
  }
  main .banner .left_banner #circular-text {
    right: 50%;
    top: 46%;
  }
  /* FOOTER */

  .login_social_media {
    width: 14vw;
  }
  .login_container {
    margin-top: 10vh;
  }
  .sign_in_form {
    padding: 14% 10%;
  }
  .login_bar {
    width: 70vw;
  }
}
/* INPUT */
input {
  background-color: #ffffff2e;
  border: 1px solid #a0a0a057;
  height: 30px;
}
/* CARRITO STYLES */

main section p {
  padding-right: 5px;
}

.mapa-carrito {
  display: flex;
  width: 10px;
  padding-top: 20px;
}

.title {
  padding-top: 100px;
  padding-bottom: 20px;
}

.selection {
  width: 10%;
}

.btn-submit {
  margin-top: 20px;
}

.contenido {
  padding-top: 5px;
}