@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: roboto;
  /* background-color: #7fffd4; /// ATENCION QUE ESTO VA A AFECTAR TODAS LAS VIEWS */
}

main {
  justify-content: center;
}

/* * * * * *  Header y Navbar * * * * * */

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo {
  margin: auto;
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  width: 33vw;
  background-color: #006d77;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  /* display: none; */
}
.navbar a {
  text-decoration: none;
  color: aliceblue;
}
/* NAV BAR EN PRODUCT*/
.navbar-product {
  display: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navbar-product a {
  text-decoration: none;
  color: aliceblue;
}
/*.navbar a:hover{
    color: rgb(159, 206, 247);
}*/

.hamburger-button {
  text-align: center;
  margin: auto 50%;
  color: white;
}

/* BANNER */

.banner {
  display: flex;
  justify-content: space-evenly;
}

/* .left_banner{
    width: 40%;
} */

.left_banner img {
  height: 91vh;
}

.right_banner {
  width: 40%;
  display: flex;
  align-items: center;
}

/*MAIN PRODUCT*/
.estilo-imagen-product {
  width: 100%;
}

.container-flex1 {
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.button-arrows {
  background-color: #006d77;
  padding: 0 10px;
  height: 55px;
  color: white;
}

.section1-main-product {
  width: 90%;
  margin: 5%;
  background-color: white;
  color: #143018;
}

.section2-main-product {
  width: 90%;
  margin: 5%;
}

.arrow {
  padding: 5px 0;
}

.estilo-precio {
  color: #143018;
  display: inline;
}

.estilo-comprar {
  color: #143018;
  font-weight: bold;
  display: inline;
  border: 0 solid gray;
  border-radius: 15px;
  padding: 5px;
  margin: 0 20px;
  background-color: white;
}
.margen-superior {
  margin-top: 30px;
}

/* * * * * * * * *    L O G     I N     F O R M    * * * * * * * * */
.main_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_container{
    border: 1px solid #caccd2;
    border-radius: 20px;
    width: 40vw;
    margin-top: 10vh;
    width: auto;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d3dadf, #e8ebed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.intro_login {
  text-align: center;
  margin-top: 10vh;
}

.sign_in_form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30vw;
  padding: 40px;
  margin: auto;
  margin-top: 5%;
  /* background-image: url('/img/login-bck.jpg'); */
}

form {
  display: flex;
  flex-direction: column;
}

.nombre_usuario_login {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}
.password_login {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.login_input {
  border: 0.0625rem solid #caccd2;
  border-radius: 6px;
  height: 2.5rem;
}

form button {
  background-color: #f49f46;
  color: white;
  border-radius: 5px;
  appearance: none;
  font-family: roboto;
  height: 2.5rem;
  border: none;
}

/* LOGIN FOOTER */
.login_footer{
    display: flex;
    margin-left: 8vw;
    margin-right: 5vw;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.login_bar{
    margin-top: 4vh;
    height: 1px;
    width: 70vw;
    border: 1px solid black;
}

.login_social_media{
    display: flex;
    width: 14vw;
    justify-content: space-around;
    list-style: none;
}

.login_social_media i{
    color: black;
    font-size: 1.4em;
}


@media (max-width: 680px) {
  .sign_in_form {
    width: 80%;
  }
}

/* * * * * * * *  F I N     D E     L O G I N * * * * * * */

/*BREAKPOINTS*/
@media (min-width: 460px) {
  /* Tablets */
  .hamburger-button {
    display: none;
  }
  .navbar-product {
    display: flex;
  }
  nav {
    width: 70vw;
  }
  main {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .magen-precio-comprar {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  /* Laptop */
  .magen-precio-comprar {
    margin-top: 50px;
  }
}

/* CARRITO STYLES */

main section p {
  padding-right: 5px;
}

.mapa-carrito {
  display: flex;
  width: 10px;
  padding-top: 20px;
}

.title {
  padding-top: 100px;
  padding-bottom: 20px;
}

.selection {
    width: 10%;
}

.btn-submit {
    margin-top: 20px;
}

.contenido {
    padding-top: 5px;
}