<%- include ("partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('partials/header') %> 
    <main class="main_login">
        <!-- Modificar aquí con mensaje y estilos amigables -->
        <h2>Opss.. No se ha encontrado la página que buscas.. por favor valida que sea correcta. Error 404 </h2>
    </main>

    <%- include ('partials/footer') %>
    <%- include ('partials/cursor') %>  
  </body>
</html>
