<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASA I.M.</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo"><a href="/">
            <img src="/img/logo_masa_black.svg" alt="">
        </a></div>
        <nav>
            <ul class="navbar">
                <li><a href="/product">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="/login">Sign in</a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="cursor"></div>
    <main>
        <div class="banner">
            <div class="left_banner">
            </div>
            
            <div class="right_banner">
                <h2>Algunas personas tienen vida, otras tienen la <span>música</span></h2>
            </div>

        </div>
    </main>

    <footer>
        <div class="login_footer">
          <div class="login_bar"></div>
          <ul class="login_social_media">
            <li> <a href="#"><i class="fab fa-facebook"></i></a> </li>
            <li> <a href="#"><i class="fab fa-twitter-square"></i></a> </li>
            <li> <a href="#"><i class="fab fa-instagram"></i></a> </li>
          </ul>
        </div>
      </footer>
    <script>
         const cursor = document.querySelector('.cursor');

         document.addEventListener('mousemove', e => {
         cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
         })

         document.addEventListener('click', () => {
         cursor.classList.add("expand");

         setTimeout(() => {
         cursor.classList.remove("expand");
         }, 500)
         })
    </script>
</body>
</html>