<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASA I.M.</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
</head>
<body class="home-body">
    <%- include ("partials/header") %> <!--HEADER-->
    
    <main>
        <div class="banner">
            <div class="left_banner">
                <h2>Algunas personas tienen vida, otras tienen la <span>música</span></h2>
                <div id='circular-text'>Producto . Producto . Producto . Producto . Producto . Producto .&nbsp;</div>
            </div>
            
            <div class="right_banner">
                <h2>Algunas personas tienen vida, otras tienen la <span>música</span></h2>
            </div>

        </div>
    </main>
    <%- include ("partials/footer") %> <!--FOOTER-->
    <%- include ('partials/cursor') %> 
    
    <script>
        const degreeToRadian = (angle) => {
  return angle * (Math.PI / 180);
};

const radius = 120;
const diameter = radius * 2.3;

const circle = document.querySelector("#circular-text");
circle.style.width = `${diameter}px`;
circle.style.height = `${diameter}px`;

const text = circle.innerText;
const characters = text.split("");
circle.innerText = null;

const startAngle = -90;
const endAngle = 270;
const angleRange = endAngle - startAngle;

const deltaAngle = angleRange / characters.length;
let currentAngle = startAngle;

characters.forEach((char, index) => {
  const charElement = document.createElement("span");
  charElement.innerText = char;
  const xPos = radius * (1 + Math.cos(degreeToRadian(currentAngle)));
  const yPos = radius * (1 + Math.sin(degreeToRadian(currentAngle)));

  const transform = `translate(${xPos}px, ${yPos}px)`;
  const rotate = `rotate(${index * deltaAngle}deg)`;
  charElement.style.transform = `${transform} ${rotate}`;

  currentAngle += deltaAngle;
  circle.appendChild(charElement);
});
    </script>
</body>
</html>