<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Carrito MASA I.M.</title>
  </head>
  <body>
    <%- include('partials/header') %> 
    <main>
      <section>
        <img src="/img/guitarra-product.png" alt="titulo del producto" />
      </section>
      <section>
        <div class="title">
          <h2>Fender</h2>
          <p>Player Strocaster Floyd R..</p>
        </div>
        <div>
          <label for="talle">Talle:</label>
          <select class="selection" name="talle" id="talle">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
            <option value="e">d</option>
          </select>
        </div>
        <div>
          <label for="cantidad">Cantidad:</label>
          <select class="selection" name="cantidad" id="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div>
          <label for="color">Color:</label>
          <select class="selection" name="color" id="color">
            <option value="verde">Verde</option>
            <option value="rojo">Rojo</option>
            <option value="azul">Azul</option>
            <option value="negro">Negro</option>
            <option value="blanco">Blanco</option>
          </select>
        </div>
        <div>
          <button class="btn-submit" type="submit">Comprar</button>
          <button class="btn-submit" type="submit">Agregar al carrito</button>
        </div>
        <div class="mapa-carrito">
          <p><strong>Descripción</strong></p>
          <p>/</p>
          <p>Opciones</p>
          <p>/</p>
          <p>Videos</p>
        </div>
        <div class="contenido">
          Guitarra eléctrica Fender Player Stratocaster Floyd Rose MN TPL. El
          inspirador sonido de una Stratocaster ...
        </div>
      </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/cursor') %>
  </body>
</html>
