<%- include ("partials/head") %>  <!-- HEAD -->

  <body>
    <%- include('partials/header') %> 
    <main >
      
      <section class="cart">
        <img src="/img/guitarra-product.png" alt="titulo del producto" />

        <div class="cart-desc">
          <div class="title">
            <h2>Fender</h2>
            <p>Player Strocaster Floyd Rose</p>
          </div>
          <div>
            <label for="talle">Talle:</label>
            <select class="selection" name="talle" id="talle">
              <option value="a">a</option>
              <option value="b">b</option>
              <option value="c">c</option>
              <option value="d">d</option>
              <option value="e">d</option>
            </select>
          </div>
          <div>
            <label for="cantidad">Cantidad:</label>
            <select class="selection" name="cantidad" id="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div>
            <label for="color">Color:</label>
            <select class="selection" name="color" id="color">
              <option value="verde">Verde</option>
              <option value="rojo">Rojo</option>
              <option value="azul">Azul</option>
              <option value="negro">Negro</option>
              <option value="blanco">Blanco</option>
            </select>
          </div>
          <div>
            <button class="btn-submit" type="submit">Comprar</button>
            <button class="btn-add" type="submit">Agregar al carrito</button>
          </div>
          <div class="mapa-carrito">
            <p><strong>Descripción</strong></p>
            <p>/</p>
            <p>Opciones</p>
            <p>/</p>
            <p>Videos</p>
          </div>
          <div class="contenido">
            Guitarra eléctrica Fender Player Stratocaster Floyd Rose MN TPL. El
            inspirador sonido de una Stratocaster ...
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/cursor') %>
  </body>
</html>
