<footer>
    <div class="login_footer">
      <div class="login_bar"></div>
      <ul class="login_social_media">
        <li> <a href="#"><i class="fab fa-facebook"></i></a> </li>
        <li> <a href="#"><i class="fab fa-twitter-square"></i></a> </li>
        <li> <a href="#"><i class="fab fa-instagram"></i></a> </li>
      </ul>
    </div>

    <div class="footer_links_wrapper">
      <div class="footer_links">
        <ul>
          <li>Trabaja con nosotros</li>
          <li>Contacto</li>
          <li>Otros</li>
        </ul>
      </div>
    </div>
  </footer>