<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/img/logo_masa_black.svg" alt="" />
        </a>
      </div>
      <nav>
        <ul class="navbar">
          <li><a href="/product">Productos</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/login">Sign in</a></li>
          <li>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="cursor"></div>
    <main class="main_login">

      <div class="login_container">
        <section class="intro_login">
          <h2>Crear nuevo producto</h2>
          <br />
        </section>
        <!-- SIGN IN -->
        <section class="sign_in_form">
          <form action="/">
            <div class="input_containers">
              <label for="productname">Nombre del producto</label>
              <input class="login_input" type="text" id="productname" />
            </div>
            <div class="input_containers">
              <label for="prod_description">Descripción del producto</label>
              <input class="login_input" type="text" name="" id="prod_description" />
            </div>
            <div class="input_containers">
              <p>Categoría</p>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="category" id="guitarra" />
                <label for="guitarra">Guitarra</label>
            </div>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="category" id="piano" />
                <label for="piano">Piano</label>
            </div>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="category" id="bajo" />
                <label for="bajo">Bajo</label>
            </div>
              <div class="product_radio">
                  <input class="login_input" type="radio" name="category" id="violin" />
                <label for="violin">Violín</label>
            </div>
            <div class="new_product_price">
                <label for="prod_price">Precio</label>
                <input class="price_input" type="number" name="" id="prod_price" />
              </div>
              
            </div>
            <button class="create_button">Crear</button>
          </form>
        </section>
      </div>
    </main>

    <footer>
      <div class="login_footer">
        <div class="login_bar"></div>
        <ul class="login_social_media">
          <li> <a href="#"><i class="fab fa-facebook"></i></a> </li>
          <li> <a href="#"><i class="fab fa-twitter-square"></i></a> </li>
          <li> <a href="#"><i class="fab fa-instagram"></i></a> </li>
        </ul>
      </div>
    </footer>
    <!-- <script>
      const cursor = document.querySelector('.cursor');

      document.addEventListener('mousemove', e => {
      cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
      })

      document.addEventListener('click', () => {
      cursor.classList.add("expand");

      setTimeout(() => {
      cursor.classList.remove("expand");
      }, 500)
      })
 </script> -->
  </body>
</html>