<%- include ("../partials/head") %>
    <!-- HEAD -->

    <body>
        <%- include ('../partials/header') %>

            <main class="admin_main">
                <div class="admin_wrapper">
                    <h2>Admin menu</h2>
                    <div class="admin_container">
                        <h3>Users</h3>
                        <ul>
                            <li> <a href="user-list">User panel</a></li>
                        </ul>

                    </div>
                    <div class="admin_container">

                        <h3>Projects</h3>
                        <ul>
                            <li> <a href="inst-list">Instruments panel</a> </li>
                        </ul>
                    </div>
                </div>

            </main>



            <%- include ('../partials/footer') %>
                <%- include ('../partials/cursor') %>
    </body>

    </html>