<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">

      <div class="login_container">
        <section class="intro_login">
          <h2>Bienvenido!</h2>
          <br />
          <p>Ingresa a tu cuenta.</p>
          <p>Si no tienes una cuenta, <a href="/register">crea una</a>.</p>
        </section>
        <!-- SIGN IN -->
        <section class="sign_in_form">
          <h3>Log in</h3>
          <form action="/">
            <div class="nombre_usuario_login">
              <label for="username">Nombre de usuario o Email</label>
              <input class="login_input" type="text" id="username" />
            </div>
            <div class="password_login">
              <label for="password">Password</label>
              <input class="login_input" type="password" name="" id="password" />
            </div>
            <button>Ingresar</button>
          </form>
        </section>
      </div>
    </main>

    <%- include ('../partials/footer') %>
    <%- include ('../partials/cursor') %>  
  </body>
</html>
