<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">
      <div class="login_container"> 
        <section class="intro_login">
          <h2>Crea tu cuenta de Usuario</h2>
          <br />
          <p>Completa el formulario de admisión.</p>
          <p>Si ya tienes una cuenta, <a href="/login">Ingresa aquí</a>.</p>
        </section>
        <section class="sign_in_form">
        <form action="/" method="GET">
          <div class="nombre_usuario_login">
            <h3><strong>Datos de Usuario</strong></h3>
            <br>
            <label for="name">Nombre y apellido</label>
            <input type="text" minlength="4" name="name" id="name" required=true/>
            <!-- Usuario -->
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username" required=true/>
            <!-- Fecha de nacimiento -->
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" id="date" required=true/>
            <!-- Domicilio -->
            <label for="addres">Domicilio</label>
            <input type="text" name="addres" id="address" required=true/>
          </div>
          <br>
          <div class="password_login">
            <h3><strong>Contraseña</strong></h3>
            <br>
            <!-- Contraseña -->
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required=true/>
            <!-- Confirmar contraseña -->
            <label for="confirm-pass">Confirmar Password</label>
            <input type="password" name="confirm-pass" id="confirm-pass" required=true/>
          </div>
          <div class="btn_login">
            <!-- boton Enviar -->
          <button type="submit">Enviar</button>
          <!-- boton borrar -->
          <button class="borrar" type="reset">Borrar</button>
          </div>
          
        </form>
        </section>
      </div>
        
      </main>
      <%- include ('../partials/footer') %> 
      <%- include ('../partials/cursor') %> 
  </body>
</html>
