<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">
      <div class="login_container"> 
        <section class="intro_login">
          <h2>Crea tu cuenta de Usuario</h2>
          <br />
          <p>Completa el formulario de admisión.</p>
          <p>Si ya tienes una cuenta, <a href="/login">Ingresa aquí</a>.</p>
        </section>
        <section class="sign_in_form">
        <form action="/register" method="post" >
          <div class="nombre_usuario_login">
            <h3><strong>Datos de Usuario</strong></h3>
            <br>
            <label for="name">Nombre y apellido</label>
            <input type="text" name="name" id="name" />
            <!-- Usuario -->
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username" />
            <!-- Fecha de nacimiento -->
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" id="date" />
            <!-- Domicilio -->
            <label for="addres">Domicilio</label>
            <input type="text" name="addres" id="address" />
          </div>
          <br>
          <div class="password_login">
            <h3><strong>Contraseña</strong></h3>
            <br>
            <!-- Contraseña -->
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <!-- Confirmar contraseña -->
            <label for="confirm-pass">Confirmar Password</label>
            <input type="password" name="confirm-pass" id="confirm-pass" />
          </div>
          <div class="btn_login">
            <!-- boton Enviar -->
          <button type="submit">Enviar</button>
          <!-- boton borrar -->
          <button class="borrar" type="reset">Borrar</button>
          </div>
          
        </form>
        </section>
      </div>
        
      </main>
      <%- include ('../partials/footer') %> 
      <%- include ('../partials/cursor') %> 
  </body>
</html>
